<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css">
<%- include('../partials/nav') %>

<main>
    <!-- Loads Profile -->
  <% if (profile.avatar) { %>
    <div>
      <img
        class="profile-avatar"
        src="<%= profile.avatar %>"
        alt="<%= profile.name %>'s avatar"
      >
    </div>
  <% } %>
  <h1><%= isSelf ? ` It's ${profile.name}` : "Check out this profile!" %></h1>
  <% if (isSelf) { %>
    <h2>Add a review!</h2>
    <form action="/profiles/<%= profile._id %>/reviews" method="POST">
      <label>
        Name of Restaurant:
        <input type="text" name="name" autocomplete="off">
      </label>
        Location:
        <input type="text" name="location" autocomplete="off">
      </label>
      <label>
        General Feedback:
        <input type="text" name="generalFeedback" autocomplete="off">
      </label>

      <button type="submit">Add Review!</button>
    </form>
  <% } %>
    <% profile.reviews.forEach(review => { %>
      <h3>
        <li>
          
          <%= review.name %>
          <%= review.location %>
          <%= review.wouldRecommend %>
          <%= review.generalFeedback %>
          <% if (isSelf) { %> 
            <form 
              action="/profiles/reviews/<%= review._id %>?_method=DELETE"
              method="POST"
              style="display: inline-block;"
              >
            
            <button type="submit"> Delete <%= review.name %> Review </button>
            </form>
          </li>
        <% } %> 
      </h3>
    <% }) %>
</main>

<%- include('../partials/footer') %>