<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <!-- Loads Profile -->
  <% if (profile.avatar) { %>
    <div>
      <img
        class="profile-avatar"
        src="<%= profile.avatar %>"
        alt="<%= profile.name %>'s avatar"
      >
    </div>
  <% } %>
  <!-- Loads cats with profile -->
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <% if (isSelf) { %>
    <h2>Add a Review!</h2>
    <form action="/profiles/<%= profile._id %>/reviews" method="POST">
      <label>
        Name Of Restaurant:
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Would Recommend?:
        <input type="Boolean" name="Would Recommend?" autocomplete="off">
      </label>
      <label>
        General FeedBack?:
        <input type="text" name="location" autocomplete="off">
      </label>
      <button type="submit">Add </button>
    </form>
  <% } %>
  <!-- Displays Cats -->
  <% if (profile.review.length) { %>
    <h2>
      <%= isSelf ? "You have" : `${profile.name} has` %> reviews! Here they are! 
    </h2>
    <!-- Deletes Cats -->
    <% profile.reviews.forEach(review => { %>
      <h3>
        <%= getReview() %>
        <%= cat.name %> is a <%= cat.wouldRecommend %> year old <%= cat.%>
        <% if (isSelf) { %>
          <form 
            action="/profiles/reviews/<%= review._id %>?_method=DELETE"
            method="POST"
            style="display: inline-block;"
          >
            <button type="submit"> Free <%= review.name %></button>
          </form>
        <% } %> 
      </h3>
    <% }) %>
  <% } else { %>
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} dont` %> have any reviews. 
    </h2>
  <% } %>
</main>

<!-- <% function getRandomCat() { %> 
  <% let cats = ["ðŸˆ", "ðŸ±", "ðŸ˜¸", "ðŸ˜¹", "ðŸ˜º", "ðŸ˜»", "ðŸ˜¼", "ðŸ˜¾", "ðŸ˜¿", "ðŸ™€"] %> 
  <% return cats[Math.floor(Math.random() * cats.length)] %>
<% } %>  -->

<%- include('../partials/footer') %>