<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css">
<%- include('../partials/nav') %>

<main>
    <!-- Loads Profile -->
  <% if (profile.avatar) { %>
    <div>
      <img
        class="profile-avatar"
        src="<%= profile.avatar %>"
        alt="<%= profile.name %>'s avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <% if (isSelf) { %>
    <h2>Add a review!</h2>
    <form action="/profiles/<%= profile._id %>/reviews" method="POST">
      <label>
        Name of Restaurant:
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Would Recommend:
        <input type="boolean" name="wouldRecommend" autocomplete="off">
      </label>
      <label>
        Location:
        <input type="text" name="location" autocomplete="off">
      </label>
      <label>
        General Feedback:
        <input type="text" name="generalFeedback" autocomplete="off">
      </label>

      <button type="submit">Add Review!</button>
    </form>
  <% } %>
  <% if (profile.reviews.length) { %>
    <h2>
      <%= isSelf ? "You have" : `${profile.name} has left` %> reviews! 
    </h2>
    <% profile.reviews.forEach(review => { %>
      <h3>
        <!-- <% if (isSelf) { %> -->
          <form 
            action="/profiles/reviews/<%= review._id %>?_method=DELETE"
            method="POST"
            style="display: inline-block;"
          >
          <%= review.name %>
          <%= review.location %>
          <%= review.wouldRecommend %>
          <%= review.generalFeedback %>
            <button type="submit"> Delete Review <%= review.name %></button>
          </form>
        <!-- <% } %>  -->
      </h3>
    <% }) %>
  <% } else { %>
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any reviews. 
    </h2>
  <% } %>
</main>

<%- include('../partials/footer') %>