<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css">
<%- include('../partials/nav') %>
<section>
  <h1>Edit the Review! </h1>
  <form action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST">
    <label>
      Name: 
      <input 
        type="text"
        name="name" 
        value="<%= restaurant.name %>"   
        autocomplete="off"
      >
    </label>
    <label>
      Would Recommend?
      <input 
        type="checkbox" 
        name="Would Recommend?" 
				<%= restaurant.wouldRecommend ? "checked" : "" %> 
      >
    </label>
    <button type="submit">Edit the Restaurant</button>
  </form>
</section>
<%- include('../partials/footer') %>