<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css">
<%- include('../partials/nav') %>
<!-- iterate over tacos and for each print name with options of tasty/not tasty -->
<section>
    <h1>Restaurants!</h1>
    <% if (user) { %>
      <h2>Add a review!</h2>
      <form action="/restaurants" method="POST">
        <label>
          Name: 
          <input type="text" name="name" autocomplete="off">
        </label>
        <label>
          Would Recommend?
          <input type="checkbox" name="wouldRecommend">
        </label>
        <button type="submit">Add Restaurant</button>
      </form>
  <% } %>

  <h2>All Restaurants</h2>
  <% restaurants.forEach(restaurant => { %>
    <li>
      
      <a href="/restaurants/<%= restaurant._id %>"><%= restaurant.name %></a> 
      is <%= restaurant.wouldRecommend ? 'Yes!' : 'No Way!' %>
    </li>
  <% }) %>
<%- include('../partials/footer') %>