<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p>Reviewer <%= restaurant.owner.name %>...</p>
  <h1><%= restaurant.name %> </h1>
  <% if (restaurant.owner.equals(user?.profile._id)) { %>  
  <h2>Would you recommend this Restaurant? <%= restaurant.wouldRecommend ? 'Yes! 😋' : 'No Way! 😫' %></h2>
  <% if (user) { %> 
    <form 
      action="/restaurants/<%= restaurant._id %>/flip-wouldRecommend?_method=PATCH" 
      method="POST"
    >
      <button class="btn" type="submit">
<%= restaurant.wouldRecommend ? 'Yes!' : 'No Way! ' %>
</button>
</form>
<!-- making sure user/taco maker is the person logged in -->
  <form action="/restaurants/<%= restaurant._id %>/edit" method="GET">
<button class="btn" type="submit">Edit this Restaurant </button>
</form>
<% } %>
<form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
<button class="btn" type="submit">Delete this restaurant </button>
      </form>
  <% } %>
</section>
<%- include('../partials/footer') %>